html{
    font-size: 16px;
    height: 100%;
    width: 100%;
}
body{
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    line-height: 1.625;
    position: relative;
    overflow-x: hidden;
    position: relative;
}
.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%;
}
.linea{
    height: 10px;
    padding: 0px !important;
    background-color:   #2ccc72;
    width: 100%;
}
.main_container .logo img{
    width: 140px;
    height: 70px;
    margin-top: 80px;
    margin-bottom: 20px;
}
.main_container .desc h5{
    color: #fff;
    letter-spacing: 1px;
    margin-top: 60px;
    margin-bottom: 80px;
}
.nav-item img{
    width: 25px;
    height: 25px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    /*background-color: #000000;*/
    /*border: 0px solid #000000;*/
}
/*CARACTERISTICAS*/
.carac{
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: #fff;
    margin-top: 40px;
}
.carac .lista h3{
    padding-top: 1em;
    text-align: center;
    font-weight: 500;
    font-size: 1.4em;
}
.carac .lista img{
    display: block;
    margin: auto;
}
.carac .lista p{
    text-align: center;
    line-height: 1.6em;
    margin: auto;
    width: 85%;
    font-size: 1em;
    padding: 10px 0;
}
/*VIDEO*/
.vid {
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: #e3e3e3;
}
.vid .rep{
    padding-left: 6em;
}
.vid .multi .dato{
    padding-left: 47px;
}
.vid .multi h3{
    padding-top: 1em;
    padding-left: 46px;
    font-weight: 500;
    font-size: 1.4em;
}
.vid .multi p{
    line-height: 1.6em;
    margin: auto;
    width: 85%;
    font-size: 1em;
    padding: 10px 0;
}

/*USUARIOS*/
.users{
    background-color: #fff;
    padding-top: 2em;
    padding-bottom: 2em;
}
.users .coment{
    text-align: center;
    padding-bottom: 2em;
}
.users .saludos{
    text-align: center;
    padding-top: 1em;
}
/*FOOTER*/
footer{
    background-color: #e3e3e3;
    padding-top: 2em;
    padding-bottom: 1em;
}
.nav-text{
    padding-left: 30px;
    padding-right: 20px;
    font-size: 1em;

}
.nav-text p{
    color: #000000;
    text-align: center;
}
/*OTROS*/
.contenedor1{
    background-color: rgb(51, 53, 54);
    height: 200px;
    width: 200px;
    border-radius: 200px;
    opacity: 90%;
}
#fondo{
    background-image: url('../img/lighting.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 550px;
}
.carousel-item{
    width: 100%;
    height: 100px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
 .carousel-item div{
    width: 50px;
    height: 50px;
 } 
@media (max-width: 600px) {
    .carousel-item {
      height: 50px;
    }
  }